<div class="col-md-12">
     <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
          <tr>
              <th class="text-center" style="background:#1AB394;color:#f3f3f4 !important;">Property</th>
              <th class="text-center" style="background:#1AB394;color:#f3f3f4 !important;">Definition</th>
          </tr>
        </thead>
        <tbody>
            <% @xml_rg.each do|x|%>
            <% @proref=x.propertyRef %>
             <tr>
              <% if x.Required== 'y' %>
                  <td> <%= link_to x.property , {:controller => :source_data,:action => :dictionary_detail, :term => '', :esci => x.propertyRef, :def => ''}, :target => "_blank" %> <span class="text-danger" style="font-size: 16px;">  <b>*</b></span></td>
                <%else%>
                <td> <%= link_to x.property , {:controller => :source_data,:action => :dictionary_detail, :term => '', :esci => x.propertyRef, :def => ''}, :target => "_blank" %></td>
              <% end %>
              <td>
              <%# @list_drop =DefinitonDn.where("concept_ID = ? AND language_id=?",@proref,'0161-1#LG-000001#1') %>
                  <%# @list_drop.each do |list_drop|%>
                   <%= x.Property_Definition %>
                  <%# end %>
              </td>
            <% end %>
            </tr>
        </tbody>
      </table>
</div>
<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

    $('.dataTables-example').dataTable({
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
            "sSwfPath": "../assets/dataTables/swf/copy_csv_xls_pdf.swf"
        }
    });

    /* Init DataTables */
    var oTable = $('#editable').dataTable();

    /* Apply the jEditable handlers to the table */
    oTable.$('td').editable( '../example_ajax.php', {
        "callback": function( sValue, y ) {
            var aPos = oTable.fnGetPosition( this );
            oTable.fnUpdate( sValue, aPos[0], aPos[1] );
        },
        "submitdata": function ( value, settings ) {
            return {
                "row_id": this.parentNode.getAttribute('id'),
                "column": oTable.fnGetPosition( this )[2]
            };
        },

        "width": "90%",
        "height": "100%"
    } );


});
// $(document).ready(function () {
//     $(document).ajaxStart(function () {
//         $("#loading_spinner").show();
//     }).ajaxStop(function () {
//         $("#loading_spinner").hide();
//     });
// });

</script>

<% end %>