<%- if I18n.locale== :ar %>

	<p>أهلا<%= @resource.email %>!</p>

	<p>وقد طلبت شخص رابطا لتغيير كلمة المرور الخاصة بك . يمكنك القيام بذلك من خلال الرابط أدناه.</p>

	<p><%= link_to 'تغيير كلمة المرور الخاصة بي', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>إذا كنت لم تطلب ذلك، يرجى تجاهل هذا البريد الإلكتروني.</p>
	<p>و كلمة المرور الخاصة بك لن تتغير حتى تقوم وصول إلى الرابط أعلاه و إنشاء واحدة جديدة .</p>

<% else %>

	<p>Hello <%= @resource.email %>!</p>

	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>

<% end -%>


